.quiz-container {
    text-align: center;
    padding: 20px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
}

body {
    background: linear-gradient(to bottom, lightblue, lightgreen);
    display: flex;
    justify-content: center;
    /* horizontally center the quiz */
    align-items: center;
    /* vertically center the quiz */
    min-height: 100vh;
    /* ensure the background covers the viewport */
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}
